* {
    margin: 0px;
    padding: 0px;
}

:root {
    --azulMaisClaro: #18C8FF;
    --azulclaro: #18A1CC;
    --azulMedio: #1D83A3;
    --azulescuro: #145A70;
}

@font-face {
    font-family: 'pacifico';
    src: url(fontes/Pacifico/Pacifico-Regular.ttf);
}
@font-face {
    font-family: 'roboto';
    src: url(fontes/Roboto_Mono/RobotoMono-VariableFont_wght.ttf)
}
@font-face {
    font-family: 'oxanium';
    src: url(fontes/Oxanium/Oxanium-VariableFont_wght.ttf);
}


body {
    background: linear-gradient(#000000, #4E4E4E);
    height: 100vh;
}

.cabecalho {
    padding: 2px 0px;
    display: flex;
    justify-content: space-between;
    flex-grow: 50px;
    background-color: var(--azulescuro);
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.383);
}

.logo {
    width: 44px;
    padding: 0 190px 0px 50px;
    border-radius: 50%;
}

.nomeProjeto {
    color: white;
    font-family: 'pacifico', sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
}

.cabecalho-nav {
    font-family: 'roboto';
    font-weight: 300;
    font-size: 0.8em;
}

.cabecalho-lista {
    display: flex;
    padding: 0 50px;
    list-style: none;
    gap: 10px;
}

li:hover {
    transform: scale(1.1);
}

li>a {
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 70px;
    font-size: 0.85em;
    font-weight: bold;
}

main {
    display: flex;
    margin: auto;
    width: 650px;
    height: 300px;
    margin-top: 100px;
    box-shadow: 7px 7px 20px #00000057;
    background: linear-gradient(-110deg, var(--azulMedio), #048f8800 90%);
    border-radius: 7px;
}

.video,
.descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: rgb(8, 5, 0);
    min-width: 310px;
    height: 280px;
    margin: auto;
    padding: 10px;
}



.descricao h1 {
    font-family: 'pacifico';
    font-weight: 100;
    font-size: 1.8em;
    color: white;
    height: 20%;
}

h2 {
    height: 50%;
    font-size: 1em;
    color: white;
}

.entrar {
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 40px;
    width: 200px;
    height: 30px;
    border-color: transparent;
    margin-top: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.426);
    font-family: 'roboto';
    font-weight: 100;
}
a>img {
    width: 15px;
    padding: 2px;
}

.linkBotao {
    margin: auto;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: 500;
}

button:hover {
    transform: scale(1.1);
}

footer {
    background-color: var(--azulescuro);
    color: whitesmoke;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: 'oxanium';
    font-weight: 500;
    font-size: 0.7em;
}

p>a {
    color: whitesmoke;
    text-decoration: underline;
}